@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.title-2{
    color: #1df8b2;
    background-color: #005899;
    font-weight: 500;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    padding: 30px;
}