.card{
    width: 16rem;
}

.card-body{
    background-color: #1df8b2; 
    color: #005899 !important;
    text-align: center;
    font-weight: 500;
}

.btn-primary{
    color: #1df8b2;
    background-color: #005899;
    font-weight: 500;
}
.btn-primary:hover{
    background-color: rgba(0, 0, 255, 0.553);
    transition: 0.8s;
}