.sectionCards{
    display: inline-flex;
    margin: 30px;
    background-color: #1df8b2;
}

.card{
    width: 15rem;

}

.card-body{
    background-color: #1df8b2; 
    color: #005899 !important;
    text-align: center;
    font-weight: 500;
}

.link{
    text-decoration: none !important; 
}

.btn-primary{
    color: #1df8b2;
    background-color: #005899;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 15px ;
}
.btn-primary:hover{
    background-color: rgba(0, 0, 255, 0.553);
    transition: 0.8s;
}

.productos{
    padding: 5vh;
    height: 40vh;
    width: 100%;
}